.thumbnail img{
    width:100%;
}
.thumbnail{
    padding : 0;
}
.thumbnail .caption-full{
    padding: 9px;
}
.delete-form{
    display: inline;
}
.row{
    margin-left: 0px;
}
body{
    width:90%;
}
nav{
    padding: 0;
    margin:0;
}
